/* Font styles */

.special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.markazi {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.gafata-regular {
    font-family: "Gafata", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: none;
}

/* Layout and content styles */

.me {
    width: 450px;
    height: 570px;
    margin-left: 0px;
    border: 0px solid #7B2CBF;
    border-radius: 50%;
    margin-left: 155px;
    margin-top: 10px;
}

body {
    background-color: #240046;
}

.divider {
    position: relative;
    height: 24px;
}

.divider div {
    position: absolute;
    height: 8px;
    width: 0;
}

.horizontalDivider {
    height: 8px;
    width: 0%;
    background-color: #7B2CBF;
}

.horizontalDividerDark {
    height: 8px;
    width: 0%;
    background-color: #5a189a;
    right: 0;
}

.top {
    top: 8px;
    right: 0; 
}

.bottom {
    top: -8px;
    right: 0;
}

.col-sm {
    height: 300px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 150px;
    white-space: nowrap;
    display: inline;
}

h6 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.textContainer {
    background-color: rgba(0, 128, 0, 0);
    padding-top: 0px;
    margin-right: 150px;
    align-items: center;
}

.infoText {
    align-self: center;
    margin-right: 200px;
    width: 415px;
    margin-left: 1000px;
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    right: 170px;
    bottom: 170px;
}

.infoText h1 {
    position: relative;
    right: 90px;
    bottom: -35px;
}

.container {
    text-align: center;
    color: white;
    margin-top: 60px;
}

.skillsTrigger {
    width: 60px;
    margin-left: 270px;
}

.experienceTrigger,
.educationTrigger,
.referencesTrigger {
    width: 230px;
    margin-left: 200px;
}

.horizontalDivider div {
    position: absolute;
}

.horizontalDivider {
    position: relative;
}