/* Font classes */

.special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.markazi {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.gafata-regular {
    font-family: "Gafata", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: none;
}

/* Layout and content classes */

.me {
    width: 400px;
    height: 500px;
}

body {
    background-color: #240046;
}

.horizontalDivider {
    height: 8px;
    width: 0%;
    background-color: #7B2CBF;
}

.horizontalDividerDark {
    height: 8px;
    width: 0%;
    background-color: #5a189a;
    right: 100%;
}

.col-sm {
    height: 300px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 100px;
    white-space: nowrap;
}

h6 {
    color: white;
    text-align: center;
    font-size: 25px;
}

.infoText {
    align-items: center;
    margin-right: 100px;
    text-align: right;
    width: 415px;
    margin-left: 1000px;
}

.container {
    text-align: center;
    color: white;
    margin-top: 60px;
}

.skillsTrigger {
    width: 120px;
    margin-left: 257px;
}

.experienceTrigger,
.educationTrigger,
.referencesTrigger {
    width: 230px;
    margin-left: 200px;
}

.divider {
    margin-left: 49%;
    width: 8px;
    background-color: #7B2CBF;
}